<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            <div class="inner">
                <h3 class="masthead-brand">We believe that a great tutor does more than just teach</h3>
            </div>
            <h4 class="masthead-brand">What does a Tutor do?</h4>
            <p class="lead">Study for Better Future</p>
            <p class="lead">
                <%=link_to 'Join in our school', appointments_path, class: "btn btn-primary"%>
                <div class="container">
                    <div class="row top-margin">
                        <!-- image books 1 -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-0 shadow">
                                <div class="text-center">
                                    <%= image_tag("icon-1.png",height:"90",width: "90", class:"attachment-full")%>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title mb-0">Strategies for Struggling Students</h5>
                                </div>
                            </div>
                        </div>
                        <!-- image pen holder 2 -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-0 shadow">
                                <div class="text-center">
                                    <%= image_tag("icon-2.png",height:"90",width: "90", class:"attachment-full")%>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title mb-0">Examples For Creative Learning</h5>
                                </div>
                            </div>
                        </div>
                        <!-- Image study3 -->
                        <div class="col-xl-4 col-md-6 mb-4">
                            <div class="card border-0 shadow">
                                <div class="text-center">
                                    <%= image_tag("icon-3.png",height:"90",width: "90", class:"attachment-full")%>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title mb-0">Comprehensive Study Expertise</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </main>
        <footer class="mastfoot mt-auto">
            <div class="inner">
            </div>
        </footer>
    </div>


</body>