<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark"><br>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
      </div>
    </nav>
  </header>
  <main role="main">
    <div id="myCarousel" class="carousel slide pointer-event" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
            <rect width="100%" height="100%" fill="#777"></rect>
          </svg>
          <div class="container">
            <div class="carousel-caption text-center">
              <h1>We believe that a great tutor dose more than just teach!</h1>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
            <rect width="100%" height="100%" fill="#777"></rect>
          </svg>
          <div class="container">
            <div class="carousel-caption text-center">
              <h1>Study for Better Future</h1>
            </div>
          </div>
        </div>
        <div class="carousel-item active">
          <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
            <rect width="100%" height="100%" fill="#777"></rect>
          </svg>
          <div class="container">
            <div class="carousel-caption text-center">
              <h1>Sign up now </h1>
              <%=link_to 'Join in our school', appointments_path, class: "btn btn-primary"%>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img src="https://cdn0.iconfinder.com/data/icons/admin-panel-glyph-black/2048/600_-_Stats-512.png" width="220" height="130">
          <h3>Improves academic performance</h3>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
            More Information
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Tutoring will prepare you for tests and exams.</a>
          </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="https://www.eliteib.co.uk/images/icons/academictutors.svg" width="220" height="130">
          <h3> Helps overcome learning obstacles</h3>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
            More Information
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Tutor will specifically target whichever aspect of learning<br>he or she
              is having troubles with, whether it’s writing, math, language, or reading.</a>
          </div>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="https://cdn2.iconfinder.com/data/icons/business-management-5/256/Business_Meeting-512.png"
            width="160" height="130">
          <h4>Encourages the freedom to ask questions</h4>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="true">
            More Information
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">At school, you may not always feel comfortable asking questions<br>in
              front of your peers.Tutoring will help teach you to be comfortable<br>asking questions,big or small,
              without feeling self-conscious.</a>
          </div>
        </div>
        <!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-6">
          <h2 class="featurette-heading">How it works?</h2>
          <p class="lead">It’s dead easy. Join in our School ,after that sing up check box if you only a tutor! then
            view all courses ,show your courses, make new appointments write your university name chose your tutor
            create an appointment. Now wait for your tutor to Accepted your appointment.</p>
        </div>
        <div class="col-md-5">
          <img src="https://tutorhub.com/assets/illustrations/illus-brain-d742563f57fe6f7887e73602b5d4a934.png"
            width="180" height="180">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Who it works for?</h2>
          <p class="lead">Anyone studying inside or outside formal education. Our customers include everyone from
            univerisity or out univerisity.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="https://tutorhub.com/assets/illustrations/illus-testimonials-01737f56088e95cf059c8aa4dd164b96.png"
            width="350" height="300">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Explain it.</h2>
          <p class="lead">Your chance to be part of our School Get paid as a tutor! and earned your own certificate!.
            The timetable of Explain it covers all the main topics and revision which we know students look for help
            with.</p>
        </div>
        <div class="col-md-5">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQQvWn-2goaUqwwiBOkH0a3Vp1fDeI59tfe0ELWVvSKYCOhWbgCw"
            width="350" height="200">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->

    <!-- FOOTER -->
    <!-- Footer -->
    <footer class="page-footer font-small mdb-color lighten-3 pt-4">

      <!-- Footer Links -->
      <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <hr class="clearfix w-100 d-md-none">

          <hr class="clearfix w-100 d-md-none">

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

            <!-- Contact details -->
            <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

            <ul class="list-unstyled">
              <li>
                <p>
                  <i class="fas fa-home mr-3"></i>Saudi Arabia &hearts;</p>
              </li>
              <li>
                <p>
                  <i class="fas fa-home mr-3">Created with &hearts; by <span class="name">Faisal</span></i> </p>
              </li>
            </ul>

          </div>

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

            <!-- Social buttons -->
            <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
            <a href="https://twitter.com/Faisal_fj_90?lang=ar" target="_blick">My Twitter Page</a>
          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3"> Copyright © 2019-2020
        <a href="https://mdbootstrap.com/education/bootstrap/"></a>
        <%=link_to 'Back to top', root_path, class: "btn btn-primary" %>

      </div>
      <!-- Copyright -->


    </footer>
    <!-- Footer -->
  </main>
</body>