
        <ul class="navbar-nav mr-auto">
            <%if user_signed_in?%>
            <li class="nav-item">
                <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'nav-item nav-link active' %>
            </li>
            <%end%>
            <%if user_signed_in?%>
            <li clas="nav-item2">
            <li>
          <%= link_to 'Back', appointments_path , class: "btn btn-primary" %>
          </li>
          <%end%>
            <li class="nav-item">
            </li>
        </ul>
    </div>
</nav>